{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <!-- Display success messages -->
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}<br>
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <form class="col-8 mx-auto card p-4 shadow-lg" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h3 class="text-center mb-4">Update Recipe</h3>
                <div class="form-group">
                    <label for="recipeName">Recipe Name</label>
                    <input name="recipe_name" id="recipeName" value="{{ recipe.recipe_name }}" required type="text" class="form-control" placeholder="Enter recipe name">
                </div>
            
                <div class="form-group">
                    <label for="recipeDescription">Recipe Description</label>
                    <textarea class="form-control" id="recipeDescription" name="recipe_description" required rows="3">{{ recipe.recipe_description }}</textarea>
                </div>
            
                <div class="form-group">
                    <label for="recipeImage">Recipe Image</label>
                    <input name="recipe_image" id="recipeImage" type="file" class="form-control-file">
                </div>
            
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Update Recipe</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
